.banner {
  background: #614385; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #614385, #516395); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #614385, #516395); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 260px;
}

.content {
  width: 720px;
  margin: 0 auto;
  margin-top: -180px;
}

.title {
  top: 10px;
  margin-bottom: 25px;
}


.title h1 {
  font-size: 5rem;
  color: #462d71;
  font-weight: 600;
  animation: fadeInDown 0.5s;
}

.animated-card {
  animation: fadeInUp 0.25s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
