.banner {
  background: #614385; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #614385, #516395); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #614385, #516395); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
  height: 260px;
}

.content {
  width: 720px;
  margin: 0 auto;
  margin-top: -80px;
}
